<footer>
  <div class="section1">
    <h2>Apartados</h2>
    <ul>
      <li (click)="onPlantas()">plantas</li>
      <li (click)="onComunidad()">comunidad</li>
      <li (click)="onViveros()">viveros</li>
      <li (click)="onTienda()">tienda</li>
      <li (click)="onCarrito()">carrito</li>
    </ul>
  </div>
  <div class="section2">
    <img src="jsblanco.png" alt="icono-logo-blanco" width="100" height="100">
    <h2>JARDIN ZEN</h2>
  </div>
  <div class="section3">
    <ul>
      <li>¿quienes somos?</li>
      <li>+52 123 123 1234</li>
    </ul>
  </div>
</footer>
