header{
  background-color: #F2EBC9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}

h2 {
  color: #280404;
  font-size: 20px;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

