/* Header Styles */
header {
  background-color: #F2EBC9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

/* Sección 1: Logo y Títulos */
header .section1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .section1 h2 {
  font-size: 24px;
  color: #165100;
  font-weight: bold;
}

header .section1 h3 {
  font-size: 22px;
  color: #280404;
  font-weight: bold;
}

/* Sección 2: Navegación */
header .section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

header .section2 h2 {
  font-size: 20px;
  color: #165100;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
  gap: 10px;
}

header .section2 h2:hover {
  color: white;
  background-color: #165100;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 12px; /* Aumento el padding para un efecto más visible */
  transform: scale(1.1); /* Efecto de aumento */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra añadida para resaltar */
}

/* Sección 3: Íconos de Carrito y Usuario */
header .section3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .section3 img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

header .section3 img:hover {
  transform: scale(1.1);
}

header .link {
  display: flex;
  justify-content: center;
  gap: 10px;
}

p {
  color: #165100;
  font-weight: bold;
}

/* Header Responsivity */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  header .section2 {
    justify-content: center;
  }

  header .section2 h2 {
    font-size: 18px;
  }
}
