<header>
  <div class="section1">
    <img src="logoJS.png" alt="logo" width="100" height="100" (click)="onHome()">
    <h2>JARDIN</h2>
    <h3>ZEN</h3>
  </div>
  <div class="section2">
    <div class="link">
      <img src="plantas.png" alt="icono-planta" width="30" height="30" (click)="onPlantas()">
      <h2 (click)="onPlantas()">PLANTAS</h2>
    </div>
    <div class="link">
      <img src="comunidad.png" alt="icono-comunidad" width="40" height="40" (click)="onComunidad()">
      <h2 (click)="onComunidad()">COMUNIDAD</h2>
    </div>
    <div class="link">
      <img src="vivero-de-plantas.png" alt="icono-vivero" width="40" height="40" (click)="onPlantas()">
      <h2 (click)="onViveros()">VIVEROS</h2>
    </div>
  </div>
  <div class="section3">
    <p (click)="onLogin()">LOGIN</p>
    <img src="usuario.png" alt="icono-usuario" width="40" height="40" (click)="onConfiguracion()">
  </div>
</header>
