<header>
  <div class="section1">
    <img src="logoJS.png" alt="logo" width="100" height="100">
    <h2>JARDIN</h2>
    <h2>SABIO</h2>
  </div>
  <div class=" section2">
    <img src="plantas.png" alt="icono-planta" width="40" height="40">
    <h2>PLANTAS</h2>
    <img src="comunidad.png" alt="icono-comunidad" width="40" height="40">
    <h2>COMUNIDAD</h2>
    <img src="vivero-de-plantas.png" alt="icono-vivero" width="40" height="40">
    <h2>VIVEROS</h2>
    <img src="bolsa-de-la-compra.png" alt="icono-tienda" width="40" height="40">
    <h2>TIENDA</h2>
  </div>
  <div class="section3">
    <img src="carrito.png" alt="icono-carrito-compra" width="40" height="40">
    <img src="usuario.png" alt="icono-usuario" width="40" height="40">
  </div>
</header>
