<div class="body">
    <div class="title">
      <h1>MI JARDIN</h1>
    </div>
  </div>
  <div class="fondo">
    <div>
      <div class="cabecera"></div>
      <div class="tabla">
        <div>
          <input type="search" placeholder="buscador ....">
          <ul>
            <li>GERBERA</li>
            <li>GERBERA</li>
            <li>GERBERA</li>
            <li>GERBERA</li>
            <li>GERBERA</li>
            <li>GERBERA</li>
            <li>GERBERA</li>
            <li>GERBERA</li>
            <li>GERBERA</li>
            <li>GERBERA</li>
          </ul>
        </div>
        <div>
            <app-card-planta></app-card-planta>
        </div>
      </div>

    </div>
</div>
