<h2>Crear Nuevo Vivero</h2>
<form [formGroup]="nurseryForm">
  <!-- Nombre -->
  <label for="name">Nombre:</label>
  <input type="text" id="name" formControlName="name" placeholder="Nombre del vivero" required />

  <!-- Descripción -->
  <label for="description">Descripción:</label>
  <textarea id="description" formControlName="description" placeholder="Descripción" required></textarea>

  <!-- Ubicación -->
  <label for="ubication">Ubicación:</label>
  <input type="text" id="ubication" formControlName="ubication" placeholder="Ubicación" required />

  <!-- Imagen -->
  <label for="file">Imagen:</label>
  <input type="file" id="file" (change)="onFileChange($event)" accept="image/*" />
</form>

<!-- Acciones -->
<div class="actions">
  <button type="button" class="cancel" (click)="cancel()">Cancelar</button>
  <button type="button" class="submit" (click)="submitForm()">Guardar</button>
</div>
