.template {
    height: 70%;
    width: 70%;
    background-color: #F2EBC9;
    padding: 20px;
    border-radius: 12px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
  }

  .new {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h3 {
    color: #457A31;
    font-weight: bold;
  }

  button {
    background-color: green;
    color: white;
    width: 90%;
    border: none;
  }

  label {
    color: #457A31;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
    display: block;
    text-transform: capitalize;
  }

  input, textarea, select {
    width: 90%;
    padding: 8px;
    border: 1px solid #457A31;
    border-radius: 4px;
    background: rgba(69, 122, 49, 0.1);
    color: #457A31;
    font-size: 14px;
  }

  button {
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  button.cancel:hover {
    background-color: #E0D9B2;
  }

  button.submit {
    background-color: #457A31;
    color: #F2EBC9;
  }

  button.submit:hover {
    background-color: #366225;
  }
