<div class="container">
  <div>
    <h3>ADMINISTRADOR</h3>
  </div>
  <div class="template">
    <div class="new">
      <label for="">nombre:</label>
      <input type="text">
      <label for="">precio:</label>
      <input type="text">
      <label for="">cantidad:</label>
      <input type="text">
      <label for="">descripcion:</label>
      <input type="text">

      <button>agregar</button>
    </div>
  </div>

  <div class="inventario">
    <h3>inventario</h3>
  </div>
  <div class="productos">
    <table>

    </table>
  </div>
</div>
