<div class="template">
  <div>
    <h3>PRODUCTO MAS VENDIDO</h3>
    <div class="grafica"></div>
  </div>
  <div class="new">
    <label for="">nombre</label>
    <input type="text">
    <label for="">precio</label>
    <input type="text">
    <label for="">cantidad</label>
    <input type="text">
    <label for="">descripcion</label>
    <input type="text">

    <button>agregar</button>
  </div>

  <div class="inventario">
    <h3>inventario</h3>
    <div class="productos">

    </div>
  </div>
</div>
