<div class="card">
  <div class="valor">
    <h2>GERBERA</h2>
  <img src="gerbera.jpg" alt="plata">
  <p>
    Lorem Ipsum es simplemente el texto de relleno de las imprentas
    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar
    de las industrias desde el año 1500, cuando un impresor (anónimo) usó
    una galera de tipos y los mezcló de tal manera que logró fabricar
    un libro de muestras tipográficas.
  </p>
  <div class="relog">
    <img src="" alt="">
    <p>12:15:01</p>
  </div>
  </div>
</div>
