<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>BIENVENIDO A...</h1>
            <div class="logo">
                <img src="logoJS.png" alt="Logo">
            </div>
            <h2>JARDÍN SABIO</h2>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
        </div>
        <div class="right">
            <h2>LOGIN</h2>
            <form class="login">
                <label for="email">EMAIL:</label>
                <input type="text" id="email" name="email">
                <label for="password">PASSWORD:</label>
                <input type="password" id="password" name="password">
                <button type="submit">SIGN IN</button>
                <button type="button">SIGN UP</button>
            </form>
        </div>
    </div>
</body>
</html>
