<div class="title">
  <h2>VIVEROS CERCA DE TI ...</h2>
  <input type="search" placeholder="Buscador ..." />
  <button (click)="openCreateNurseryDialog()">Crear Vivero</button>
</div>

<!-- Mensaje de error -->
<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

<!-- Contenedor del mapa -->
<div class="mapa">
  <div id="map" style="width: 100%; height: 400px;"></div>
</div>

<!-- Lista de viveros -->
<div class="lista" *ngIf="viveros.length > 0; else noViveros">
  <app-card-vivero *ngFor="let vivero of viveros" [vivero]="vivero"></app-card-vivero>
</div>

<ng-template #noViveros>
  <div class="no-viveros">
    <p>No se encontraron viveros cerca de ti.</p>
  </div>
</ng-template>
