<div class="container">
  <div class="right">
    <div class="imagen">
      <img src="logoJS.png" alt="logo">
    </div>
    <h3>JARDÍN ZEN</h3>
    <h4>"Cultiva paz, florece vida."</h4>
  </div>
  <div class="left">
    <h1>¿QUIÉNES SOMOS?</h1>
    <p>
      En Jardín Zen somos una comunidad apasionada por el cuidado de las plantas y la conexión con la naturaleza.
      Nuestra misión es inspirar, guiar y acompañar a todos los amantes de la jardinería, desde principiantes hasta expertos,
      en el camino de crear espacios verdes llenos de vida y tranquilidad.
    </p>
  </div>
</div>
