<div class="title">
  <h2>Publicaciones</h2>
</div>

<div class="card">
  <!-- Formulario para crear una publicación -->
  <div class="nuevo">
    <form [formGroup]="publicationForm" (ngSubmit)="onCreatePublication()">
      <div class="publication">
        <input
          class="input"
          id="title"
          formControlName="title"
          type="text"
          placeholder="Título"
        />
        <div
          *ngIf="publicationForm.controls['title'].invalid && publicationForm.controls['title'].touched"
        >
          <small class="error">Este campo es obligatorio.</small>
        </div>
      </div>

      <div>
        <textarea
          class="textarea"
          id="content"
          formControlName="content"
          placeholder="Contenido"
        ></textarea>
        <div
          *ngIf="publicationForm.controls['content'].invalid && publicationForm.controls['content'].touched"
        >
          <small class="error">Este campo es obligatorio.</small>
        </div>
      </div>

      <div>
        <input
          class="file-input"
          id="file"
          type="file"
          (change)="onFileSelected($event)"
        />
        <div
          *ngIf="publicationForm.controls['file'].invalid && publicationForm.controls['file'].touched"
        >
          <small class="error">El archivo es obligatorio.</small>
        </div>
      </div>

      <button class="submit-button" type="submit" [disabled]="publicationForm.invalid">
        Crear publicación
      </button>
    </form>
  </div>
</div>

<!-- Listado de publicaciones -->
<div *ngIf="publications.length > 0; else noPublications" class="back">
  <div *ngFor="let publication of publications" class="publicacion">
    <div class="cabeza">
      <div class="eliminar">
      </div>
    </div>

    <div class="contenido">
      <h2>{{ publication.info.name }}</h2>
      <p>{{ publication.info.description }}</p>
      <div style="display: flex; justify-content: center;" *ngIf="publication.media">
        <img style="max-width: 35%; max-height: 35%;" class="media-image" [src]="publication.media" alt="Imagen de la publicación">
      </div>
    </div>
  </div>
</div>

<ng-template #noPublications>
  <p>No hay publicaciones disponibles.</p>
</ng-template>
