<div class="title">
  <h2>COMUNIDAD</h2>
</div>

<!-- Card para crear una nueva publicación -->
<div class="card">
  <div class="cabeza">
    <div class="nuevo">
      <img src="usuario.png" alt="icono-usuario" class="usuario">
      <!-- Formulario para crear publicación -->
      <form [formGroup]="publicationForm">
        <textarea formControlName="content" placeholder="Escribe el contenido aquí" class="textarea"></textarea>
        <input type="file" (change)="onFileSelected($event)" accept="image/*,video/*" class="file-input">
        <button type="submit" class="submit-button">Publicar</button>
      </form>
    </div>
  </div>
</div>

<!-- Lista de publicaciones -->
<div *ngFor="let pub of publications" class="publicacion">
  <div class="eliminar">
    <div class="principal">
      <img src="usuario.png" alt="icono-usuario" class="usuario">
      <h3>{{ pub.name }}</h3>
    </div>
    <img src="eliminar.png" alt="icono-eliminar" (click)="onDeletePublication(pub.id_author)" class="delete-icon">
  </div>
  <div class="contenido">
    <h3>{{ pub.description }}</h3>
    <img *ngIf="pub.media" [src]="'data:image/jpeg;base64,' + pub.media" alt="imagen-publicacion" class="media-image">
    <video *ngIf="pub.media && pub.mediaType === 'video'" controls class="media-video">
      <source [src]="'data:video/mp4;base64,' + pub.media" type="video/mp4">
    </video>
    <img src="me-gusta.png" alt="icono-me-gusta" class="like-icon">
  </div>
</div>
