<div class="title">
  <img src="carrito-de-compras.png" alt="imagen-carrito" width="100" height="100">
  <h2>MI CARRITO</h2>
  <img src="carrito-de-compras.png" alt="imagen-carrito" width="100" height="100">
</div>

<div class="card">
  <div class="encabezado">
    <h2>PRODUCTO</h2>
    <h2>CANTIDAD</h2>
  </div>

  <app-card-carrito></app-card-carrito>
  <app-card-carrito></app-card-carrito>
  <app-card-carrito></app-card-carrito>

  <div class="botones">
    <div class="btn-tarjeta">
      <img src="tarjeta.png" alt="icono-tarjeta">
    </div>
    <div class="btn-ubicacion">
      <img src="posicion.png" alt="icono-ubicacion">
    </div>
    <div class="btn-compra">
      <h2>COMPRAR</h2>
    </div>
  </div>
</div>
