<div class="title">
  <img src="carrito-de-compras.png" alt="imagen-carrito" width="100" height="100">
  <h2>MI CARRITO</h2>
  <img src="carrito-de-compras.png" alt="imagen-carrito" width="100" height="100">
</div>

<div class="card">
  <div class="encabezado">
    <h2>PRODUCTO</h2>
    <h2>CANTIDAD</h2>
    <h2>ACCIONES</h2>
  </div>

  <div *ngFor="let cartItem of cartProducts" class="producto">
    <div class="producto-info">
      <img [src]="cartItem.product.img" alt="{{ cartItem.product.name }}" width="50" height="50" />
      <h3>{{ cartItem.product.name }}</h3>
      <h4>${{ cartItem.product.price }}</h4>
    </div>
    <div class="producto-cantidad">
      <button (click)="updateQuantity(cartItem, cartItem.quantity - 1)" [disabled]="cartItem.quantity <= 1">-</button>
      <span>{{ cartItem.quantity }}</span>
      <button (click)="updateQuantity(cartItem, cartItem.quantity + 1)">+</button>
    </div>
    <div class="producto-acciones">
      <button (click)="removeFromCart(cartItem.product.id_product)">Eliminar</button>
    </div>
  </div>

  <div class="botones">
    <div class="btn-tarjeta">
      <img src="tarjeta.png" alt="icono-tarjeta" />
    </div>
    <div class="btn-ubicacion">
      <img src="posicion.png" alt="icono-ubicacion" />
    </div>
    <div class="btn-compra" (click)="checkout()">
      <h2>COMPRAR</h2>
    </div>
  </div>
</div>
