<h2>Crear Nueva Planta</h2>
<form #plantForm="ngForm">
  <!-- Nombre -->
  <label for="name">Nombre:</label>
  <input type="text" id="name" [(ngModel)]="plantData.name" name="name" required />

  <!-- Descripción -->
  <label for="description">Descripción:</label>
  <textarea id="description" [(ngModel)]="plantData.description" name="description" required></textarea>

  <!-- Hora de Riego -->
  <label for="hora_de_riego">Hora de Riego:</label>
  <input type="text" id="hora_de_riego" [(ngModel)]="plantData.hora_de_riego" name="hora_de_riego" required />

  <!-- Categoría -->
  <label for="category">Categoría:</label>
  <select id="category" [(ngModel)]="plantData.category" name="category" required>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>

  <!-- Tipo -->
  <label for="tipo">Tipo:</label>
  <select id="tipo" [(ngModel)]="plantData.tipo" name="tipo" required>
    <option *ngFor="let type of types" [value]="type">{{ type }}</option>
  </select>

  <!-- Imagen -->
  <label for="img">Imagen:</label>
  <input type="file" id="img" (change)="onFileSelected($event)" accept="image/*" />
</form>

<!-- Botones -->
<div class="actions">
  <button type="button" class="cancel" (click)="dialogRef.close()">Cancelar</button>
  <button type="button" class="submit" [disabled]="!plantForm.valid" (click)="createPlant()">Crear</button>
</div>
